<!--<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div id="content">
    <div id="top-left">
        Space<br>Roulette
    </div>
    <div id="middle">
        Travel to distant planets and test your luck!
    </div>
    <div id="container">
        <div id="top-right">
            <div id="top-right-text">
                Before allowing you to travel we need to be sure you exist
            </div>
            <div id="buttons">
                <div class="button button-bordered">Sign in</div>
                <div class="button button-solid">Register</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>-->